name: dnsmasq
version: v1.1.6
slug: dnsmasq
description: dnsmasq provides a container image for running DHCP, proxy DHCP, DNS, and/or TFTP with dnsmasq.
url: https://gitlab.com/home-assistant-addons/home-assistant-dnsmasq
init: false
privileged:
  - NET_ADMIN
host_network: true
arch:
  - aarch64
  - amd64
image: registry.gitlab.com/home-assistant-addons/home-assistant-dnsmasq
schema:
  arguments:
    - str
options:
  arguments:
    - --dhcp-range=192.168.1.0,proxy,255.255.255.0
    - --enable-tftp
    - --tftp-root=/var/lib/tftpboot
    - --log-queries
    - --log-dhcp
    # Disable DNS
    - --port=0
    # check if we are already iPXE
    - --dhcp-userclass=set:ipxe,iPXE
    ## RPI4
    # upgrade to uefi firmware (make pi load start4.elf etc.)
    - --pxe-service=tag:!ipxe,tag:rpi,0,"Raspberry Pi Boot"
    # upgrade to ipxe
    - --dhcp-mac=set:rpi,d8:3a:dd:*:*:*
    - --dhcp-boot=tag:rpi,tag:!ipxe,snp.efi
    ## X86
    # upgrade to ipxe
    - --pxe-service=tag:!ipxe,X86PC,"PXE",undionly.kpxe
    - --pxe-service=tag:!ipxe,X86-64_EFI,"PXE",ipxe.efi
    - --pxe-service=tag:!ipxe,IA32_EFI,"PXE",ipxe.efi
    ## iPXE Configuration
    # server address must be non zero, but can be anything as long as iPXE script is not fetched over TFTP
    # see: https://ipxe.org/appnote/proxydhcp
    - --dhcp-boot=tag:ipxe,http://192.168.1.50:8000/boot.ipxe,,0.0.0.1
