name: dnsmasq
version: v1.1.1
slug: dnsmasq
description: dnsmasq provides a container image for running DHCP, proxy DHCP, DNS, and/or TFTP with dnsmasq.
url: https://gitlab.com/home-assistant-addons/home-assistant-dnsmasq
init: false
privileged:
  - NET_ADMIN
host_network: true
arch:
  - aarch64
  - amd64
image: registry.gitlab.com/home-assistant-addons/home-assistant-dnsmasq
ports:
  53/tcp: 53
  53/udp: 53
  67/tcp: 67
  69/tcp: 69
schema:
  arguments:
    - str
options:
  arguments:
    - --no-daemon
    - --dhcp-range=192.168.1.1,proxy,255.255.255.0
    - --enable-tftp
    - --tftp-root=/var/lib/tftpboot
    # Legacy PXE
    - --dhcp-match=set:bios,option:client-arch,0
    - --dhcp-boot=tag:bios,undionly.kpxe
    # UEFI
    - --dhcp-match=set:efi32,option:client-arch,6
    - --dhcp-boot=tag:efi32,ipxe.efi
    - --dhcp-match=set:efibc,option:client-arch,7
    - --dhcp-boot=tag:efibc,ipxe.efi
    - --dhcp-match=set:efi64,option:client-arch,9
    - --dhcp-boot=tag:efi64,ipxe.efi
    # iPXE
    - --dhcp-userclass=set:ipxe,iPXE
    - --dhcp-boot=tag:ipxe,http://matchbox.example.com:8080/boot.ipxe
    - --log-queries
    - --log-dhcp
    - --log-debug
