name: dnsmasq
version: v1.1.6
slug: dnsmasq
description: dnsmasq provides a container image for running DHCP, proxy DHCP, DNS, and/or TFTP with dnsmasq.
url: https://gitlab.com/home-assistant-addons/home-assistant-dnsmasq
init: false
privileged:
  - NET_ADMIN
host_network: true
arch:
  - aarch64
  - amd64
image: registry.gitlab.com/home-assistant-addons/home-assistant-dnsmasq
schema:
  arguments:
    - str
options:
  arguments:
    - --dhcp-range=192.168.1.0,proxy
    - --enable-tftp
    - --tftp-root=/var/lib/tftpboot
    - --log-queries
    - --log-dhcp
    # Legacy PXE
    - --pxe-service=tag:!ipxe,X86PC,"PXE",undionly.kpxe,192.168.0.1
    - --pxe-service=tag:!ipxe,X86-64_EFI,"PXE",ipxe.efi,192.168.0.1
    - --pxe-service=tag:!ipxe,IA32_EFI,"PXE",ipxe.efi,192.168.0.1
    # iPXE
    - --dhcp-userclass=set:ipxe,iPXE
    - --dhcp-boot=tag:ipxe,http://192.168.0.1:8080/boot.ipxe,,0.0.0.1
